#Footer {
  --footer-color: rgb(50, 50, 50);
  --hInfo-color: #1b9eff;
}

.footer {
  background-color: var(--footer-color);
  border-color: var(--footer-color);
}

.IhColor {
  color: var(--hInfo-color) !important;
  text-decoration: none !important;
}

.IdColor {
  text-decoration: none !important;

}

.format {
  width: 200px;
  height: 100px;
  margin: 0%;
  padding: 0%;
  opacity: 30%;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 3px;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

.wicon {
  filter: invert(50%)
}

@media screen and (max-width:767px) {

  .font {
    font-size: 15px !important;

    word-wrap: break-word !important;
    word-break: break-word !important;
  }





  .space {
    margin-left: 20% !important;
  }

}



.container {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: auto;
  margin-bottom: auto;
}
