.footer{
  background-color: var(--footer-color);
  border-color: var(--footer-color);
}

.format{
  width: 200px;
  height: 100px;
  margin: 0%;
  padding: 0%;
  opacity: 30%;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 3px;
  display: inline-block;
}

a:link{
  text-decoration: none;
}
