<div class="container-fluid footer  rounded-top m-0">

  <div class="content footer">
      <br>
      <!--Linia 1-->
      <div class="row">
        <div class="col-2 col-sm-2 mx-3 "></div>
      <!-- LOGO FOOTER DEL SITIO WEB -->
        <div class="col-2 col-sm-2 mx-3">
          <div class="content">
            <div class="row">
              <div class="col-1 col-sm-1"></div>
              <div class="col-9 col-sm-9 text-white">


                    <a href="#"><img class="format " src="../../../assets/img/logo-white.svg" alt="" srcset=""></a>


              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2 mx-2"></div>
        <div class="col-2 col-sm-2 mx-3"></div>
        <div class="col-2 col-sm-2"></div>
      </div>
      <!--linia divisoria-->
      <div class="row">
        <div class="col-2 col-sm-2 mx-3"></div>
        <div class="col-8 col-sm-8 mx-2 text-white-50 text-break fw-bold"><hr class="bg-light">
        <p>© 2022 Institut Guttmann <span class="dot"></span><a class="text-white-50 "href="#">Aviso legal</a> <span class="dot"></span><a class="text-white-50"href="#">Política de Cookies</a>  <span class="dot"></span><a class="text-white-50" href="#">Privacidad y Protección de datos</a>   <a href="#"><img class="light" src="../../../assets/img/twiter.svg" alt="" srcset=""></a></p>
        </div>
      </div>
  </div>
</div>
