<div id="Footer"  class="container-fluid col-12 col-sm-12 footer pb-5 pt-2  rounded-top m-0">

  <div class="container footer pb-5">
      <br>
      <!--Linia 1-->
      <div class="row">
        <!--<div class="col-md-2 col-1 col-sm-1 mx-3"></div>-->
      <!-- LOGO FOOTER DEL SITIO WEB -->
        <div class="col-md-2 col-11 col-sm-10 mx-3 space">
          <a href="#"><img class="format img-fluid " src="../../../assets/img/logo-white.svg" alt="" srcset=""></a>
        </div>


        <!--PUNTOS DE INTERES SOBRE LA ORGANIZACION-->
        <div class="col-md-3 col-8 col-sm-12 mx-1 space">
          <tr>
            <th><a class="IhColor primary fs-5 text-wrap  font">Hospital de Neurorehabilitació</a></th>
          </tr>

          <tr>
            <td><a class="fs-6 IdColor text-white text-wrap  font">Camí de Can Ruti, s/n </a><br> <a class="fs-6 IdColor text-white text-wrap  font">08916 Badalona</a></td>
          </tr>
          <tr>
            <td><a class="fs-6 IdColor text-white text-wrap   font">admissions@guttman.com</a> <br><a class="fs-6 IdColor text-white text-wrap  font">T. +34 934 977 700</a></td>
          </tr>
        </div>

        <!--INFORMACION ACERCA DEL CENTRO-->
        <div class="col-md-3 col-sm-12 mx-1 text-white-50 space ">
          <tr>
            <th><a class="IhColor primary fs-6 text-wrap font">Hospital de Neurorehabilitació</a></th>
          </tr>

          <tr>
            <td><a class="fs-6 IdColor text-white text-wrap font">Camí de Can Ruti, s/n </a><br> <a class="fs-6 IdColor text-white text-wrap font">08916 Badalona</a></td>
          </tr>
          <tr>
            <td><a class="fs-6 IdColor text-white text-wrap font">admissions@guttman.com</a> <br><a class="fs-6 IdColor text-white text-wrap font">T. +34 934 977 700</a></td>
          </tr>

        </div>


        <!--INFORMACION ACERCA DEL CENTRO-->
        <div class="col-md-3 col-sm-12 mx-1 text-white-50 space ">
          <tr>
            <th><a class="IhColor primary fs-5 text-wrap font">Guttman Barcelona</a></th>
          </tr>
          <tr>
            <td><a class="fs-6 IdColor text-white text-wrapfont">Garcilaso,57</a> <br><a class="fs-6 IdColor text-white text-wrap font"> 08027</a></td>
          </tr>
          <tr>
            <td><a class="fs-6 IdColor text-white text-wrap font">barcelona@guttman.com</a> <br><a class="fs-6 IdColor text-white text-wrap font">T. +34 933 512 211</a></td>
          </tr>
        </div>




      <!--linia divisoria-->
      <div class="row">
        <div class="col-2 col-sm-2 mx-3"></div>
        <div class="col-8 col-sm-8 ml-2 mr-0 text-white-50 text-break fw-bold content"><hr class="bg-light">
          <div class="row">
          <div class="col-8 col-sm-8 ml-2 mr-0 text-white-50 text-break fw-bold">
          © 2022 Institut Guttmann <span class="dot"></span><a class="text-white-50 "href="#">Aviso legal</a> <span class="dot"></span><a class="text-white-50"href="#">Política de Cookies</a>  <span class="dot"></span><a class="text-white-50" href="#">Privacidad y Protección de datos</a>
          </div>
          <!--REDES SOCIALES-->
          <div class="col-4 col-sm-4 ml-0 text-white-50  text-break fw-bold text-center">
              <a class="mx-2" href="https://twitter.com/IGuttmann"><img class="wicon " src="../../../assets/img/twiter.svg" alt="" srcset=""></a>
              <a class="mx-2" href="https://www.instagram.com/iguttmann/"><img class="wicon " src="../../../assets/img/instagram-gray.svg" alt="" srcset=""></a>
              <a class="mx-2" href="https://www.facebook.com/Institut.Guttmann"><img class="wicon " src="../../../assets/img/facebook-gray.svg" alt="" srcset=""></a>
              <a class="mx-2" href="https://www.linkedin.com/company/institut-guttmann?original_referer=https%3A%2F%2Fwww.guttmann.com%2F"><img class="wicon " src="../../../assets/img/linkedin-gray.svg" alt="" srcset=""></a>
              <a class="mx-2" href="https://www.youtube.com/user/InstitutGuttmann"><img class="wicon " src="../../../assets/img/youtube-gray.svg" alt="" srcset=""></a>


          </div>
          </div>
        </div>
      </div>
  </div>
</div>
