<div class="container-fluid header border rounded-bottom m-0">
   
    <div class="content header">
        <br>
        <div class="row">
            <div class="col-1 col-sm-1">
                <br>
            </div>
            <div class="col-9 col-sm-9">
                <h1>GUTTMAN</h1>
            </div>
            <div class="col-2 col-sm-2">
                <div #user>
                    <img src="..." class="rounded-circle" alt="" srcset="">
                </div>
            </div>
        </div>
       
        <br>
    </div>

</div>
<hr>