<div class="container-fluid header border rounded-bottom m-0">

    <div class="content header">
        <br>
        <div class="row">
            <div class="col-2 col-sm-2">
              <div class="content">
                <div class="row">
      <!-- LOGO DEL SITIO WEB -->
                  <div class="col-1 col-sm-1"></div>
                  <div class="col-9 col-sm-9">
                    <a href="#">
                    <img class="format " src="../../../assets/img/logo.svg" alt="" srcset=""></a>
                  </div>
                </div>
              </div>
            </div>
      <!-- CENTRO DEL HEADER -->
            <div class="col-9 col-sm-9">

            </div>

      <!-- PERFIL USUARIO LOGGED-->
            <div class="col-1 col-sm-1 pt-3">
              <div class="dropdown text-center">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="64" height="64" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <!--<li><a class="dropdown-item" href="#">Trayectoria</a></li>-->
                    <li><a class="dropdown-item" href="#">Ajustes</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Log out</a></li>
                  </ul>
              </div>
           </div>
        <!-- LOGIN SIGN
            <div class="col-2 col-sm-2 text-center pt-5">
              <button type="button" class="btn btn-lg btn-outline-light me-3">Login</button>
              <button type="button" class="btn btn-lg btn-secondary">Sign-up</button>
            </div>-->

        </div>

        <br>
    </div>

</div>
