<div class="container-fluid pb-4">
  <div class="row">
    <!--BOTONES CATEGORIAS-->
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="all">
      Todos
    </button>
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="category1">
      Categoria 1
    </button>
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="category2">
      Categoria 2
    </button>
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="category3">
      Categoria 3
    </button>
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="category4">
      Categoria 4
    </button>
    <button class="col-lg-2 col-md-4 col-6 div-categorias border border-white border-5 button-categories"
      category="category5">
      Categoria 5
    </button>
    <!--FIN BOTONES CATEGORIAS-->
  </div>
  <div class="row">
    <div routerLink="/game"  id="game0"class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" name="game" category="category1">
      SIMON
    </div>
    <div routerLink="/game" id="game1" class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5"  name="game" category="category1">
      Juego 2
    </div>
    <div  routerLink="/game" id="game2" class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5"  name="game" category="category2">
      Juego 3
    </div>
    <div routerLink="/game"  class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category5">
      Juego 4
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category3">
      Juego 5
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category1">
      Juego 6
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category2">
      Juego 7
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category1">
      Juego 8
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category3">
      Juego 9
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category1">
      Juego 10
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category2">
      Juego 11
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category4">
      Juego 12
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category4">
      Juego 13
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category5">
      Juego 14
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-6 div-game border border-white border-5" category="category4">
      Juego 15
    </div>
  </div>
</div>
