/*CSS de de los div de pruebas y categorias*/
.div-game {
  background-color: #8cc9d1;
 border-radius: 0.5vw;
  min-height: 20vw;
 /* font-size:1vw;*/
  display: none;
}

.div-categorias {
  background-color: #60A5E0;
  /*height: 2.5vw;*/
  
  border-radius: 0.5vw;
  font-family: "Koulen", serif;
  /*font-size:1.5vw;*/
}
.button-categories{
 min-height:5vw;
}
.button-categories:hover {
  background-color: #2532a1;
  color: white;
}

.button-categories:active {
  background-color: #2532a1;
  transform: translateY(4px);
}

.button-categories-active {
  background-color: #2532a1;
  color: white;
}

:disabled {
  color: black;
}

:disabled.button-categories-active {
  color: white;
}
