<div id="startTransition"  class="yourTurn">
  <button id="startButton" Style="display: none;">Start</button>
</div>

<div id="top"></div>
<div id="game">
  <div id="sequence">

    <div class="card" id="0"></div>
    <div class="card" id="1"></div>
    <div class="card" id="2"></div>
    <div class="card" id="3"></div>
    <div class="card" id="4"></div>
    <div class="card" id="5"></div>
    <div class="card" id="6"></div>
    <div class="card" id="7"></div>
    <div class="card" id="8"></div>
  </div>
  <div id="answers">
    <div class="card r" id="answer9"></div>
    <div class="card r" id="answer10"></div>
    <div class="card r" id="answer11"></div>
    <div class="card r" id="answer12"></div>
  </div>
  <div id="round">1/6</div>
</div>





<!--Popup Start -->

<div class="modal fade" id="startModalToggle" aria-hidden="true" aria-labelledby="startModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="startModalToggleLabel">Indica la figura que falta</h5>

      </div>
      <div class="modal-body">
        A continuacion apareceran una serie de figuras con un patron, deberas indicar cual es la figura faltante
      </div>
      <div class="modal-footer">
        <button class="btn btn-success"  aria-label="Close" data-bs-toggle="modal" data-bs-dismiss="modal">Empezar</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="finishModal" aria-hidden="true" aria-labelledby="finishModalLabel" tabindex="0">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title " id="finishModalToggleLabel">Resultados</h5>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th class="HRound tf"></th> <th class="HResuesta tf"></th><th class="HIncognito tf"></th>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success"  aria-label="Close" data-bs-toggle="modal" data-bs-dismiss="modal">Empezar</button>

      </div>
    </div>
  </div>
</div>

