@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
#game{
    width: 80vw;
    height:40vw;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    border-radius:10pt;
    background-color: rgb(37, 159, 163);
    display: flex;
}
.card{
    width:15vw;
    height:10vw;
    background-color:rgb(247, 247, 247);
}
.card:hover{
    background-color:rgba(103, 252, 207, 0.459);
}
#game{ 

    display: grid;
    padding:4vw ;
    grid-template-columns:  repeat(4, auto) ;  
    grid-gap: 2vw;
}
#round{ 
    text-align:center;
    font-size: 5vw;
    font-family:'Gloria Hallelujah', cursive ;
    color:rgb(10, 70, 52);
}
.Active{
    background-color: green!important;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}
/*.card:hover{
    background-color:rgba(5, 233, 5, 0.301);
}*/



.card:active,
.active {
    filter: brightness(125%);
}


#startButton {
    width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #587792;
    padding: 5px;
}

#startButton:disabled {
    background-color: #eee;
}

.title {
    width: min-content;
}

.winner {
    animation: spin 1s ease-in-out;
}

@keyframes spin { 
    100% { transform:rotate(180deg) } }

.yourTurn{
    font-size: 15vw;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(14, 66, 59);   
    position:fixed;    
    top:0px;    
    width:100vw;
    height:100vh;  
    align-items: center;
    display: none;
    justify-content: center;         
}
.Active-1{
    display: flex;
}

.Error{
    background-color: rgba(255, 127, 127, 0.596);
    display: grid;
}
.Guess{
    background-color: rgba(127, 255, 212, 0.596);
}
.Warning{
    background-color: rgba(255, 189, 127, 0.596);
}
.tryButton{
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #587792;
    padding: 5px;
}