<div id="header" class="content-fluid text-center pt-5 pb-5">
  <img class="format " src="../../../assets/img/logo.svg">
</div>

<div class="content text-center usuario pt-5 pb-4">
  <h1>BIENVENIDO, @USER!</h1>

  <!--flecha bajada-->
  <div class="content text-center usuario pt-4">
    <a href="#contenido"><svg id="more-arrows">
        <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
        <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
        <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
      </svg></a>
  </div>
</div>

<hr size="10" class="separador" id="contenido">

<!--textos e imagenes-->
<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 textos pe-5 ps-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 flex">
    <img src="../../../assets/img/institut-guttmann.jpg" class="imagenes sombra">
  </div>


  <div class="col-lg-6 col-md-12 d-block d-sm-none d-md-block d-lg-none textos ps-5 pe-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 flex">
    <img src="../../../assets/img/guttmann2.jpg" class="imagenes sombra">
  </div>
  <div class="col-lg-6 col-md-12 d-none d-sm-block d-md-none d-lg-block textos pe-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 textos pe-5 ps-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 flex">
    <img src="../../../assets/img/guttmann.jpg" class="imagenes sombra">
  </div>
</div>

<hr size="10" class="separador">

<!--enlace juegos-->
<div>
  <div class="ps-2 pt-5 pb-4">
    <h2>
      <a id="categories-1" class="enlace"> ¿HAS PROBADO NUESTROS JUEGOS? </a>
    </h2>
  </div>
  
  <!--slider-->
  <div id="miCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="miCarousel" data-bs-slide-to="5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(../../../assets/img/slider1.jpg);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">PRIMER JUEGO</h1>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../../assets/img/slider2.png);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">SEGUNDO JUEGO</h1>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../../assets/img/slider3.jpg);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">TERCER JUEGO</h1>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../../assets/img/slider4.jpg);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">CUARTO JUEGO</h1>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../../assets/img/slider5.jpg);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">QUINTO JUEGO</h1>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url(../../../assets/img/slider6.jpg);">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="titulos">SEXTO JUEGO</h1>
        </div>
      </div>
    </div>
    <button type="button" class="carousel-control-prev" data-bs-target="#miCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button type="button" class="carousel-control-next" data-bs-target="#miCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="row text-center p-3 foot">
    <div class="col-lg-6">
      © 2020 Institut Guttmann ·
      <a class="text-dark" href="https://www.guttmann.com/es/aviso-legal">Aviso legal</a> ·
      <a class="text-dark" href="https://www.guttmann.com/es/politica-cookies">Política de cookies</a> ·
      <a class="text-dark" href="https://www.guttmann.com/es/politica-privacidad">Privacidad y protección de datos</a>
    </div>
    <div class="col-lg-6">
      <a class="text-dark" href="https://twitter.com/IGuttmann"><img class="iconos"
          src="../../../assets/img/red1.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="text-dark" href="https://www.facebook.com/Institut.Guttmann"><img class="iconos"
          src="../../../assets/img/red2.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="text-dark" href="https://www.instagram.com/accounts/login/?next=/iguttmann/"><img class="iconos"
          src="../../../assets/img/red3.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="text-dark" href="https://www.linkedin.com/uas/login-submit"><img class="iconos"
          src="../../../assets/img/red4.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="text-dark" href="https://www.youtube.com/user/InstitutGuttmann"><img class="iconos"
          src="../../../assets/img/red5.png"></a>
    </div>
  </div>
</footer>