#header {
  background-color: #8CC9D1;
}

.usuario {
  color: #3D55AD;
}

.separador {
  color: #13B1BB;
}

.flex {
  display: flex;
}

.textos {
  margin: auto;
  text-align: justify;
}

.imagenes {
  margin: auto;
  border-radius: 10px;
  width: 100%;
  height: 70%;
  max-width: 80%;
}

.sombra {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.enlace {
  color: #025668;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*footer*/
.foot {
  background-color: #8cc9d1;
}

.iconos {
  max-width: 3%;
}

/*carousel*/
.carousel-item {
  height: 30rem;
  background: #000000;
  background-position: center;
  background-size: cover;
}

.titulos {
  color: #ffffff;
  margin-bottom: 15%;
  text-shadow: 0 0 20px #000000;
}

/* Animacion de la flecha */
#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: #188097;
  transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #025668;
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

#categories-1:hover {
  cursor: pointer;
}

