<div id="back">
  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container pb-4 pt-2">
        <img class="format guttmann" src="../../../assets/img/logo.svg">
      </div>
      <div class="row clearfix">
        <div class="">
          <form>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Correo" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="password" name="password" placeholder="Repite el password" required />
            </div>
            <div class="row clearfix">
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Nombre" />
                </div>
              </div>
              <div class="col_half">
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                  <input type="text" name="name" placeholder="Apellidos" required />
                </div>
              </div>
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Ejemplo" required />
            </div>
            <p class="textos pt-1">Género</p>
            <div class="input_field select_option">
              <select>
                <option>Hombre</option>
                <option>Mujer</option>
                <option>Otro</option>
              </select>
              <div class="select_arrow"></div>
            </div>
            <div class="input_field select_option">
              <select>
                <option>Ejemplo</option>
                <option>Ejemplo 1</option>
                <option>Ejemplo 2</option>
              </select>
              <div class="select_arrow"></div>
            </div>
            <div class="input_field checkbox_option">
              <input type="checkbox" id="cb1">
              <label for="cb1">He leido y acepto los terminos y condiciones</label>
            </div>
            <div class="input_field checkbox_option">
              <input type="checkbox" id="cb2">
              <label for="cb2">Quiero recibir información</label>
            </div>
            <input class="button" id="registrarse" type="submit" value="Registrarse" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
