<div id="header" class="content-fluid text-center pt-5 pb-5">
  <img class="format " src="../../../assets/img/logo.svg">
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <video src="../../../assets/img/tutorial1.mp4" autoplay loop class="imagenes mx-auto d-block"></video>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12">
    <img src="../../../assets/img/guttmann2.jpg" class="imagenes sombra mx-auto d-block">
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <button id="tutorial" type="button" class="btn btn-primary mx-auto d-block">Tutorial</button>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12">
    <button id="juego" type="button" class="btn btn-primary mx-auto d-block">Juego</button>
  </div>
</div>
