<div class="card">
    <div class="card-header">
        Usuarios
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Año nacimiento</th>
                    <th>Estudios</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Marc</td>
                    <td>Chin Chon</td>
                    <td>marc@gmail.com</td>
                    <td>2000</td>
                    <td>Ninguno</td>
                    <td>Helicoptero Apache</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>