/*#foto-user {

  border-radius: 15px;
  background-image: url("../../../assets/img/DefaultUser.png");
  background-repeat: no-repeat;
 
}*/

hr {
  height: 5px;
}

.div-user {

  background: rgb(255, 0, 0);
  background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(70, 252, 79, 1) 49%, rgba(70, 252, 79, 0) 64%);

}

.informacion{
  margin-left: 150px;
  
}
.user_div{
display: flex;
justify-content: center;
}
#div_User {
 
  margin: 40px;
 
  
}
#foto_User{
  padding: 0px;
  position: absolute;
  width: 250px ;

}
#user_Info{
 /* font-size: calc(1em + 1vw);*/
 word-wrap:break-word;
  margin-left: 100px;
  background-color: #8CC9D1;
  padding: 25px;
  padding-left: 30%;
  width: 60vw;
  margin-top: 50px;
}
@media screen and (max-width: 770px) {
  #foto_User{
    visibility: hidden;
  
  }
  #user_Info{
    padding-left: 5%;
    margin-left: 0;
  }
}

hr.style {
  border: 0;
  height: 2px;
  width: 75%;
  background: linear-gradient(90deg, rgba(19, 177, 187, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(19, 177, 187, 1) 100%);
  margin: auto;
}

.titulo {
  text-align: center;
}

.div-categorias {

  height: 60px;
  border-radius: 10px;
  font-family: "Koulen", serif;
  font-size: larger;
}

.button-categories:hover {
  background-color: #2532a1;
  color: white;
}

.button-categories:active {
  background-color: #2532a1;
  transform: translateY(4px);
}

.button-categories-active {
  background-color: #2532a1;
  color: white;
}
