<div class="container-flex contenedor mt-5 ms-5 me-5">
  <div class="row">
    <div class="col-4 offset-1 div-user mt-5 mb-5" id="foto-user">
      a
    </div>
    <div class="col-6 div-user pt-5 pb-5 ps-4 pe-4">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-5 offset-1 div-user mt-5 mb-5">
      a
    </div>
    <div class="col-5 div-user pt-5 pb-5 ps-4 pe-4"><!--AQUI VA UN GRAFICO DE LINEA-->
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
        containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions
        of Lorem Ipsum.</p>
    </div>
  </div>
</div>
