#foto-user{
    background-color: rgb(85, 158, 255);
    border-radius: 15px;
}

.div-user{
    border-radius: 15px;
    height: 320px;
}

.contenedor{
    background-color: aqua;
    border-radius: 15px;
}

/*CSS GRAFICOS*/

