<div class="card">
  <div class="card-header">
    Agregar user
  </div>
  <div class="card-body">
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" required>
      </div>
      <div class="col-md-4">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" required>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>
