<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" routerLink="form">Guttmann<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="register">Register</a>
        <a class="nav-item nav-link" routerLink="login">Login</a>
    </div>
</nav>
<div class="container">
    Contenido
    <router-outlet></router-outlet>
</div>

<!--https://www.youtube.com/watch?v=ATn_Ds1zzOU -> 48:00 -->